*{
    padding: 0%;
    margin: 0;
}
.main{
    height: 100vh;
    width: 100vw;
   padding-top: 50px;
}
nav{
    position: fixed;
    z-index: 9999;
    height: 50px;
    width: 100%;
    background-color: white;
   
}
.ham-menu{
    
    display: none;
}
nav > .ul1{
    /* color: black; */
    font-family: sans-serif;
    font-size: small;
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    flex-shrink: 1;
}
.ul1 > li >a{
    
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 768px) {
    .ul1 >.nav-text{
        display: none;
    }
    .ul1 >.ham-menu{
        display: inline;
       
    }
    
    
}
.parent-1{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
   overflow: hidden;
   padding-top: 60px;
    width: 100%; 
    background-color: #F5F5F7;
}
.parent-1 > h1 {
    font-size: 50px;
    font-family: sans-serif;
    color: #1d1d1f;
}
.parent-1 > h2 {
    font-size: 30px;
    font-family: sans-serif;
    color: #1d1d1f;
    font-weight: 400;
    margin-top: 5px;
}
.hero-btns {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 30px; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-btns > #btn1{
    height: 44px;
    width: 130px;
    background-color: #0071E3;
    border-radius: 22px;
    color: white;
    border: none;
    font-size: medium;
}
.hero-btns > #btn2{
    height: 44px;
    width: 130px;
    background-color:transparent ;
    border-radius: 22px;
    color: #0071E3;
    border: 2px solid #0071E3;
    font-size: medium;
}
#hero_iphone_img{
    display: block;
    max-width: 650px;
    height: auto;
    width: 100%;
}
@media screen and (max-width:768px) {
    .parent-1 > h1 {
    font-size: 34px;
    
}
.parent-1 > h2 {
    font-size: 16px;
    font-family: sans-serif;
   
}
.hero-btns > #btn1{
    height: 34px;
    width: 80px;
    border-radius: 16px;
    font-size: 12px;
}
.hero-btns > #btn2{
    height: 34px;
    width: 80px;
    border-radius: 16px;
    font-size: 12px;
}
#hero_iphone_img{
    margin-top: -20px;
    display: block;
    height: auto;
    /* width: 1600px; */
}
}

.parent-2{
    display: flex;
    flex-direction: column;
  margin-top: 15px;
  height: auto;
   align-items: center;
   text-align: center;
   justify-content: center;
   overflow: hidden;
   padding-top: 60px;
    width: 100%; 
    background-color: #F5F5F7;
}
.parent-2 >h1{
    font-size: 50px;
    font-family: sans-serif;
    color: #1d1d1f;
}
.parent-2 >h2{
    font-size: 30px;
    font-family: sans-serif;
    color: #1d1d1f;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}
.parent-2 > #college-students{
    height: auto;
    width: 100%;
    max-width: 60px;
}
.parent-2 >button{
    height: 44px;
    width: 130px;
    background-color: #0071E3;
    border-radius: 22px;
    color: white;
    border: none;
    font-size: medium;
}
#college_img {
   
    display: block;
    max-width: 650px;      
    height: auto;
    width: 100%;
}

@media screen and (max-width:768px) {
    .parent-2 > h1 {
    font-size: 34px;
    
}
.parent-2 > h2 {
    font-size: 16px;
    font-family: sans-serif;
   
}
.parent-2 >button{
      height: 34px;
    width: 110px;
    border-radius: 16px;
    font-size: 12px;
}

}

.parent-3{
 width: 100%;
 display: flex;
 flex-direction: row;
 gap: 10px;
 /* flex-wrap: wrap; */
 /* padding: 0 15px; */
    margin-top: 10px;
    background-color: #F5F5F7;
}
.left-side{
    padding-top: 10px;
    margin-top: 20px;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
   text-align: center;
   justify-content: flex-start;
 background: linear-gradient(to bottom, #d2f0ff 0%, #ebfeff 70%, #ffffff 100%);

   /* border: 2pc solid black; */
}
.left-side >h1{
     font-size: 40px;
    font-family: sans-serif;
    /* font-weight: light; */
    color: #1d1d1f;
}
@media screen and (max-width:768px) {
    .left-side >h1{
    font-size: 30px;}
   
}
.left-side >h2{
    font-size: 20px;
    font-family: sans-serif;
    color: #1d1d1f;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}
@media screen and (max-width:768px) {
     .left-side >h2{
        font-size:16px ;
    }
}
.btns-mac{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.left-side >img{

    height: 80%;
    width: 60%;
}
#btn-mbair{
     height: 44px;
    width: 130px;
    background-color: #0071E3;
    border-radius: 22px;
    color: white;
    border: none;
    font-size: medium;
}

#btn-buymbair{
    height: 44px;
    width: 130px;
    background-color:transparent ;
    border-radius: 22px;
    color: #0071E3;
    border: 2px solid #0071E3;
    font-size: medium;
}

/* @media screen and (max-width:768px) {
     .btns-mac{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #btn-mbair{
        height: 34px;
    width: 110px;
    font-size: 12px;
    }
    #btn-buymbair{
        height: 34px;
    width: 110px;
    font-size: 12px;
    }
.left-side >img{

    height: 90%;
    width: 70%;
}
} */
.right-side{
     padding-top: 10px;
    margin-top: 20px;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
   text-align: center;
   justify-content: flex-start;
    background: linear-gradient(to bottom, #d2f0ff 0%, #ebfeff 70%, #ffffff 100%);

}
.right-side >#ipad-logo{
    height: 80px;
    width: 30%;
}
.right-side >#ipad-img{
    width: 80%;
    height: auto;
}
.right-side >h2{
    font-size: 20px;
    font-family: sans-serif;
    color: #1d1d1f;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}
#btn-r1{
    height: 44px;
    width: 130px;
    background-color: #0071E3;
    border-radius: 22px;
    color: white;
    border: none;
    font-size: medium;
}
#btn-r2{
    height: 44px;
    width: 130px;
    background-color:transparent ;
    border-radius: 22px;
    color: #0071E3;
    border: 2px solid #0071E3;
    font-size: medium;
}
.right-side >img{
    width: 80%;
    height: auto;
}
@media screen and (max-width: 768px) {
   
    .parent-3 {
        flex-direction: column;

        gap: 10px;
    }

    
    .left-side, .right-side {
        width: 100%;
        margin-top: 10px;
        padding-top: 30px; 
    }

   
    .left-side > h1, .right-side > h1 {
        font-size: 30px;
    }
    
    .left-side > h2, .right-side > h2 {
        font-size: 16px;
    }

    #btn-mbair, #btn-buymbair, #btn-r1, #btn-r2 {
        height: 34px;
        width: 110px;
        font-size: 12px;
        border-radius: 16px;
    }

    .left-side > img, .right-side > img {
        width: 80%;
        height: auto;
        margin-top: 10px;
    }
}
.parent-4{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    width: 100%;
    margin-top: 50px;
    background-color: #F5F5F7;
    padding-top: 20px;
}
.parent-4 >h1{
    width: 100%;
    font-size:32px ;
    font-family: sans-serif;
}
.parent-4 >img{
    width: 100%;
    height: auto;
}
@media screen and (max-width:768px) {
    .parent-4 >h1{
    font-size:18px ;
    
     }
     
}

footer{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 25%;

}
footer >#p1{
    color: #6F6F70;
    font-family: sans-serif;
    font-size: small;
    margin-top: 30px;
   text-align: justify;
}